body {
	font-family: sans-serif;
}

h1, h2 {
	color: gray;
}

h1 {
	border-bottom: 1px solid red;
}

p { /*可以为同一个元素设置多个css样式*/
	color: maroon;
}

/*通过重新定义一个样式规则，覆盖从body继承而来的字体样式*/
em {
	font-family: serif;
}


p.raspberry {
	color: blue;
}

p.blueberry {
	color: purple;
}

img {
	display: block;
}

p.greentea {
	color: green;
}
